{% extends 'base.html' %}

{% block title %}List of Uploaded Files{% endblock %}

{% block content %}
<h2>List of Uploaded Files</h2>
{% if files %}
    <ul class="list-group">
        {% for file in files %}
            <li class="list-group-item">
                {{ file }} 
                <a href="{% url 'decrypt_file' file_name=file %}" class="btn btn-info btn-sm float-right">Download</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="alert alert-warning">No files uploaded yet.</div>
{% endif %}
<a href="{% url 'upload_and_encrypt_file' %}" class="btn btn-primary mt-3">Upload a New File</a>
{% endblock %}
